div.columnContainer {
    display: flex;
    justify-content: space-evenly;
    height: calc(100% - 200px);
    margin: 0% 10% 0% 10%;
}

div.columnContainer div.column {
    text-align: center;
    background-color: rgba(0,0,0,0.03);
    height: 100%;
    width: 8%;
    box-shadow: 0 3px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 3px -2px rgba(255, 255, 255, .3), 0 1px 8px 0 rgba(255, 255, 255, .19);
}

div.columnContainer div.column h1 {
    color: rgba(0,0,0,0.6);
    font-weight: 400;
    font-size: 21px;
    padding-top: 23px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

div.columnContainer div.column div.card {
    background-color: white;
    box-shadow: 0 3px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 3px -2px rgba(255, 255, 255, .3), 0 1px 8px 0 rgba(255, 255, 255, .19);
    font-size: 0.5em;
    padding: 20px 5px 20px 5px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    cursor: grab;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

div.modal{
    position: absolute;
    background-color: rgba(0,0,0,0.03);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;

}

div.modal div.card{
    transform: translate(-50%,-50%);
    margin-left: calc(50% - 40px);
    margin-right: 0%;
    margin-top: 25%;
    margin-bottom: 0%;
    background: white;
    padding: 40px;
    width: 50vw;
    height: 50vh;
    box-shadow: 0 3px 4px 0 rgba(255, 255, 255, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

div.modal h2 { text-align: center; color: rgba(0,0,0,0.6); }
div.modal label { margin: 10% 0%; }
div.modal input[type="text"] { width: 100%; padding-top: 5px; padding-bottom: 5px; margin: 10px 0px }
div.modal button { margin-left: 1px; }
div.modal i.fa.fa-times { 
    cursor: pointer; 
    color: #a6a6a6; 
    transition: all 0.3s ease-in-out; 
    font-size: 20px;
    display: block;
    float: right;
}
div.modal i.fa.fa-times:hover { color: rgba(0,0,0,0.6);}

.form-group{
    display:block;
    margin: 0 0 10px 0;
}
.form-group .input-text-form{
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

.accept-button-form{
    background: #83ccae;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
}

.accept-button-form:hover{
    background: #49a07d;
}

.delete-button-form{
    background: #e88e8e;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
}

.delete-button-form:hover{
    background: #e64242;
}

.gray-button-form{
    background: #989898;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
}

.gray-button-form:hover{
    background: #525252;
}

.gray-button-form i{
    color: #FFF;
    margin: 0 5px 0 0;
    font-size: 15px;

}

.form-group{
    display:block;
    margin: 0 0 10px 0;
}

div.opciones div.grid-opciones div.opcion input[type="text"],
div.opciones div.grid-opciones div.opcion select { 
    width: 100%; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin: 10px 0px ;
    border: solid 1px rgba(0, 0, 0, 0.5);
}


div.opciones div.grid-opciones div.opcion button {
    background: #93cecc;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
    margin-right: 2px;
}


div.dark-blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 45;
}

div.card-posible-prelacion,
div.card-prelacion {
    z-index: 100 !important;
    cursor: pointer !important;
    position: relative !important;
    transition: 0.15s all ease-in-out;
}

div.card-prelacion:after,
div.card-corequisito:after,
div.card-posible-prelacion:hover:after,
div.card-posible-corequisito:hover:after {
    width: 14px;
    height: 14px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: 0.15s all ease-in-out;
}

div.card-prelacion:after,
div.card-posible-prelacion:hover:after {
    content: 'P';
    background-color: #93cecc;
    color: #FFF;
}

div.card-posible-corequisito:after,
div.card-posible-corequisito:hover:after {
    content: 'C';
    background-color: #f4ff8c;
    color: #888888;
}



div.dark-blocker div.button-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

div.dark-blocker div.button-container button.btn-white {
    background-color: white;
    border: none;
    margin: 5px;
    color: rgba(0, 0, 0, 0.616);
    font-size: 20px;
    box-shadow: 0 0.5px 0.75px 0 rgba(0, 0, 0, 0.02);
    cursor: pointer;
    height: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
}

div.dark-blocker div.button-container button.btn-white:hover {
    box-shadow: 0 5px 10px 0 rgba(209, 204, 204, 0.3);
    background-color: #a6a6a6;
}

div.dark-blocker div.header, 
div.dark-blocker div.bottom { 
    background-color: rgb(70, 70, 70);
    height: 100px;
    width: 100%;
    position: absolute;
}

div.dark-blocker div.header {
    top: 0;
    left: 0;
}

div.dark-blocker div.bottom {
    bottom: 0;
    left: 0;
}


div.context-menu {
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,0.07);
    position: absolute;
    top: 0;
    left: 0;
    color: #525252;
    border-radius: 2.5px;
    opacity: 0;
    transition: 0.25s opacity ease-in-out;
}

div.context-menu a {
    display: block;
    padding: 8px;
    cursor: pointer;
    font-size: 12px;
}

div.context-menu a:hover {
    background-color: rgba(0,0,0,0.03)
}
