<div class="columnContainer">
  <div *ngFor="let semestre of semestres; index as sIndex" class="column" cdkDropListOrientation="vertical" cdkDropList
    (cdkDropListDropped)="drop($event)" [id]="'list-' + semestre.numero" [cdkDropListData]="semestre.materias"
    [cdkDropListConnectedTo]="['list-two','list-1', 'list-2', 'list-3', 'list-4', 'list-5', 'list-6', 'list-7', 'list-8', 'list-9', 'list-10']">
    <h1>S{{semestre.numero}}</h1>
    <div cdkDrag [cdkDragData]="materia" *ngFor="let materia of semestre.materias; index as mIndex" class="card"
      (auxclick)="abrirContextMenu($event, sIndex, mIndex)" (click)="addRequisito(sIndex, mIndex)" [ngClass]="{
      'card-posible-prelacion':  asignandoRequisito == 'prelacion' && esPosiblePrelacion(sIndex),
      'card-posible-corequisito': asignandoRequisito == 'corequisito' && materiaRequisitos.id != materia.id,
      'card-prelacion': asignandoRequisito == 'prelacion'&& getIndexPrelacion(sIndex, mIndex)>=0 ,
      'card-corequisito':  asignandoRequisito == 'corequisito' && getIndexCorrequisito(sIndex, mIndex)>=0 
      }">
      {{materia.nombre}}
    </div>
  </div>
</div>

<app-administrador-drag [grupoMaterias]="info" (modal)="toggleModal($event)" (flechas)="cambiarInfo($event)" (guardar)="guardarPensum();"></app-administrador-drag>

<div class="modal" [style.display]="displayType('nuevaMateria')">
  <div class="card">
    <i class="fa fa-times" (click)="this.displayModalNuevo = 'none'"></i>
    <h2>Crear nueva materia</h2>
    <form [formGroup]="materiaForm">
      <label class="form-group">
        Nombre
        <input type="text" class="input-text-form" formControlName="nombre" required>
      </label>
      <p style="text-align: center">
        <button type="button" class="accept-button-form" (click)="submitFormNewMatter()">Guardar</button>
      </p>
    </form>
  </div>
</div>

<div class="dark-blocker" *ngIf="asignandoRequisito == 'corequisito' || asignandoRequisito == 'prelacion' ">
  <div class="header"></div>
  <div class="bottom"></div>
  <div class="button-container">
    <button class="btn-white" (click)="guardarRequisito()">GUARDAR</button>
    <button class="btn-white" (click)="asignandoRequisito = ''">CERRAR</button>
  </div>
</div>


<div class="context-menu" #contextMenu>
  <a (click)="abrirGestorRequisitos('prelacion')">Modificar prelaciones</a>
  <a (click)="abrirGestorRequisitos('corequisito')">Modificar otros requisitos</a>
</div>
