<div class="home-component">
  <div class="menu">
      <div class="option" [routerLink]="'/pensum'">
          <span>
              Gestionar pensum
          </span>
      </div>
      <div class="option" [routerLink]="'/gestor/horarios'">
          <span>
              Gestionar horarios
          </span>
      </div>
      <div class="option" [routerLink]="'/gestor/materias'">
          <span>
              Gestionar materias
          </span>
      </div>
      <div class="option" [routerLink]="'/gestor/profesores'">
          <span>
              Gestionar profesores
          </span>
      </div>
  </div>
</div>
