* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }



  .home-component {
    background-color: #f0f7f7;
    height: calc(100vh - 100px);
}

.header {
    width: 100%;
    height: 100px;
    background-color: black;
}

.header div.green-container {
    background-color: #83ccae;
    height: 60px;
    width: 100%;
}

.header div.green-container img {
    margin-left: 10%;
    height: 23px;
}

.header div.green-container span {
    display: inline-block;
    color: white;
    font-size: 23px;
    padding-left: 5px;
    padding-top: 15px;
}

.header div.blue-container {
    background-color: #93cecc;
    height: 40px;
    width: 100%;
}

.menu {
    display: grid;
    grid-template-areas: 
    'o1 o1 o2 o2 o2'
    'o1 o1 o2 o2 o2'
    'o3 o3 o3 o4 o4';
    
    grid-gap: 6px;
    position: relative;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 70vh;
}

.menu div {
    background-color: #c6c6c6;
    padding: 10px 10px 10px 10px;
	text-align: left;
	box-shadow: 0 0.5px 0.75px 0 rgba(0,0,0,0.02);
    transition: all 0.4s ease-in-out;
    position:relative;
}

.menu div:hover {
    cursor: pointer;
	transform: scale(1.001);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.13);
}

.menu div span {
    display: block;
    position: absolute;
    bottom: 5%;
}

.menu div.option:nth-of-type(1) {
    grid-area: o1;
}
.menu div.option:nth-of-type(2) {
    grid-area: o2;
}
.menu div.option:nth-of-type(3) {
    grid-area: o3;
}
.menu div.option:nth-of-type(4) {
    grid-area: o4;
}
