.header {
    width: 100%;
    height: 100px;
    background-color: black;
}

/* Franja verde */
.header div.green-container {
    background-color: #83ccae;
    height: 60px;
    width: 90%;
    padding-left: 10%;
}

/* Grupo de iconos y titulo */
.header div.green-container span {
    display: inline-block;
    color: white;
    font-size: 23px;
    margin-top: 15px;
    margin-left: 10px;
    user-select: none;
    cursor: default;
}

/* Grupo de iconos */
.header div.green-container span.nav-icons  {
    margin-left: 10px;
    margin-right: 10px;
    border-left: 2.3px solid rgba(255,255,255,0.4);
    border-right: 2.3px solid rgba(255,255,255,0.4);
    padding: 0px 10px 0px 0px;
}

/* Franja azul */
.header div.blue-container {
    background-color: #93cecc;
    height: 40px;
    width: 100%;
}

/* Iconos dentro del grupo */
.header div.green-container span.nav-icons i { padding-left: 10px; }

/* Iconos dentro del grupo e icono de menu */
.header div.green-container span.nav-icons i,.header div.green-container i{
    color: white;
    font-size: 25px;
    opacity: 0.5;
    transition: all .2s ease-in-out;   
}

/* Hover de iconos dentro del grupo e icono del menu */
.header div.green-container span.nav-icons i:hover,.header div.green-container i:hover {
    opacity: 1;
    cursor: pointer;
}

