body{
    background: #f0f7f7;
}

.contenedorMaterias {
    height: auto;
    width: auto;
    margin: 0% 10% 0% 10%;
    background-color: inherit;
    overflow-y: auto;
}

.contenedorMaterias .materias-top-cotainer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.contenedorMaterias .materias-top-cotainer .campoTexto{
    padding-left: 20px;
    width: 20%;
    height: 40px;
    border-radius: 40px;    
    text-align: left;
    color: rgba(0, 0, 0, 0.616);
    outline: none;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
}

.contenedorMaterias .materias-top-cotainer .fa-filter{
    margin-left: 15px;
    font-size: 25px;
    color: #a6a6a6;
}

.contenedorMaterias .materias-top-cotainer .fa-filter:hover{
    color: #000;
    cursor: pointer;
}

.contenedorMaterias .materias-top-cotainer .button{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 15%;
    height: 40px;
    border: 0px;    
    background: white;
    color: rgba(0, 0, 0, 0.616);
    position: relative;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0.5px 0.75px 0 rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.contenedorMaterias .materias-top-cotainer .button:hover{
    transform: scale(1.001);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
}


.contenedorMaterias .materias-cotainer .materia{
    display: inline-block;
    width: 285px;
    cursor: pointer;
    height: 185px;
    margin: 10px;
    background: #FFF;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0.5px 0.75px 0 rgba(0, 0, 0, 0.02);
}


.contenedorMaterias .materias-cotainer .materia:hover{
    transform: scale(1.001);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
}


.form-modal{
    top:20%;
    left: 35%;
    background: white;
    position: fixed;
    padding: 10px;
    width: 350px;
    height: auto;
    border: 1px solid #e6e2e2;
    margin: 0 auto;
}


.form-group{
    display:block;
    margin: 0 0 10px 0;
}

.form-group .input-text-form{
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

.form-group .input-number-form{
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    width: 45px;
}

.accept-button-form{
    background: #83ccae;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
}

.accept-button-form:hover{
    background: #49a07d;
}

.delete-button-form{
    background: #e88e8e;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
}

.delete-button-form:hover{
    background: #e64242;
}

