body{
    background: #f0f7f7;
}

.contenedorMaterias {
    height: auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    margin: 0px;
    background-color: inherit;
    overflow-y: auto;
}

.contenedorMaterias .materias-top-cotainer{
    // width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.contenedorMaterias .materias-top-cotainer .campoTexto{
    padding-left: 20px;
    width: 20%;
    height: 40px;
    border-radius: 40px;    
    text-align: left;
    color: rgba(0, 0, 0, 0.616);
    outline: none;
    border: 0px;
    font-size: 14px;
    font-weight: bold;
}

.contenedorMaterias .materias-top-cotainer .fa-filter{
    margin-left: 15px;
    font-size: 25px;
    color: #a6a6a6;
}

.contenedorMaterias .materias-top-cotainer .fa-filter:hover{
    color: #000;
    cursor: pointer;
}

.contenedorMaterias .materias-top-cotainer .button{
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 15%;
    height: 40px;
    border: 0px;    
    background: white;
    color: rgba(0, 0, 0, 0.616);
    position: relative;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0.5px 0.75px 0 rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.contenedorMaterias .materias-top-cotainer .button:hover{
    transform: scale(1.001);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
}


.contenedorMaterias .materias-cotainer .materia{
    display: inline-block;
    width: 285px;
    cursor: pointer;
    height: 185px;
    margin: 10px;
    background: #FFF;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0.5px 0.75px 0 rgba(0, 0, 0, 0.02);
}


.contenedorMaterias .materias-cotainer .materia:hover{
    transform: scale(1.001);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
}


.new-matter-modal{
    top:15%;
    left: 35%;
    background: white;
    position: fixed;
    width: 350px;
    height: 400px;
    border: 1px solid grey;
    margin: 0 auto;
}

