

<div class="contenedorMaterias">

  <div class="materias-top-cotainer">            
    <input class="campoTexto" type="text" name="buscar" placeholder="Buscar..." >
    <i class="fa fa-filter" aria-hidden="true"></i>
    <button class="button" style="float:right" (click)="matterModal()">Nuevo</button>        
  </div>

  <div class="materias-cotainer">
    <div  class="materia" *ngFor="let materia of materias" >
      <p> {{materia.nombre | titlecase }} </p>
    </div>
  </div>

  <div *ngIf="openned" class="form-modal new-matter-modal">
    <h2>Crear nueva materia</h2>
    <form [formGroup]="profileForm">
      <label class="form-group">
        Nombre:
        <input type="text" class="input-form"formControlName="nombre" required>
      </label>
    
      <label class="form-group">
        Horas:
        <input type="text" class="input-form" formControlName="horas" required>
      </label>

      <label class="form-group">
          Horas Maximas:
          <input type="text" class="input-form" formControlName="horasMax" required>
      </label>

    <button type="button" class="button-form" (click)="submitForm()">Aceptar</button>        
    </form>
  </div>

</div>




