<div class="container">
  <div class="blue"></div>
  <div class="green">
    <div class="upload" (click)="abrirModal('importar');">
      <i class="fa fa-upload" aria-hidden="true"></i>
    </div>
    <div class="card-container" 
    cdkDropList cdkDropListOrientation="horizontal"  
    [cdkDropListData]="grupoMaterias"
    (cdkDropListDropped)="drop($event)"
    id="list-two" [cdkDropListConnectedTo]="['list-1', 'list-2', 'list-3', 'list-4', 'list-5', 'list-6', 'list-7', 'list-8', 'list-9', 'list-10']">  
      <div class="newCard" (click)="abrirModal('nuevaMateria');"><div class="icono">+</div></div>
      <div cdkDrag [cdkDragData]="materia"  *ngFor="let materia of grupoMaterias" class="card" (click)="abrirModal('modificar');">
        <div class="infoMateria">
          {{materia.nombre}} 
        </div>
      </div>
    </div>
    <div class="arrows">
      <i class="fa fa-chevron-left" aria-hidden="true" (click)="flechas.emit('left')"></i>
      <i class="fa fa-chevron-right" aria-hidden="true" (click)="flechas.emit('right')"></i>
    </div>
  </div>
</div>
