<div class="opciones" *ngIf="this.opciones">
  <div class="grid-opciones">
    <div class="opcion" (click)="toggleActiveNuevo($event)">
        <div class="title">Nuevo pensum</div>  
      <div *ngIf="this.activeNuevoPensum" class="inputNuevo">
        <form [formGroup]="createPensumForm">
          <input type="text" placeholder="Nombre del pensum" formControlName="nombre_pensum" required>
          <button (click)="crearPensum()">Crear</button>      
          <button (click)="toggleActiveNuevo($event);">Cancelar</button>      
        </form>
      </div>
    </div>
    <div class="opcion" (click)="toggleActiveModificar($event)">
        <div class="title">Modificar pensum existente</div>
      <div *ngIf="this.activeModificarPensum" class="inputModificar">
        <form [formGroup]="modifyPensumForm">
          <select> 
            <option value="test" formControlName="option" required></option>
          </select>
          <button (click)="modificarPensum()">Modificar</button>
          <button (click)="toggleActiveModificar($event)">Cancelar</button>
        </form>
      </div>
    </div>
    <div class="opcion">
      <div class="title">Importar pensum desde archivo</div>
    </div>
    <div class="opcion">
      <div class="title">Exportar pensum existente</div>
    </div>
  </div>
</div>

<div class="columnContainer">
  <div *ngFor="let semestre of semestres" class="column" cdkDropListOrientation="vertical" cdkDropList
    (cdkDropListDropped)="drop($event)" [id]="'list-' + semestre.numero" [cdkDropListData]="semestre.materias"
    [cdkDropListConnectedTo]="['list-two','list-1', 'list-2', 'list-3', 'list-4', 'list-5', 'list-6', 'list-7', 'list-8', 'list-9', 'list-10']">
    <h1>S{{semestre.numero}}</h1>
    <div cdkDrag [cdkDragData]="materia" *ngFor="let materia of semestre.materias" class="card">
      {{materia.nombre}}
    </div>
  </div>
</div>

<app-administrador-drag [grupoMaterias]="info" (modal)="toggleModal($event)" (flechas)="cambiarInfo($event)" (guardar)="guardarPensum();"></app-administrador-drag>

<div class="modal" [style.display]="displayType('nuevaMateria')">
  <div class="card">
    <i class="fa fa-times" (click)="this.displayModalNuevo = 'none'"></i>
    <h2>Crear nueva materia</h2>
    <form [formGroup]="materiaForm">
      <label class="form-group">
        Nombre
        <input type="text" class="input-text-form" formControlName="nombre" required>
      </label>
      <p style="text-align: center">
        <button type="button" class="accept-button-form" (click)="submitFormNewMatter()">Guardar</button>
      </p>
    </form>
  </div>
</div>