<div class="columnContainer">
  <div *ngFor="let semestre of semestres" class="column"
  cdkDropListOrientation="vertical"
  cdkDropList (cdkDropListDropped)="drop($event)" [id]="'list-' + semestre.numero"
  [cdkDropListData]="semestre.materias"
  [cdkDropListConnectedTo]="['list-two','list-1', 'list-2', 'list-3', 'list-4', 'list-5', 'list-6', 'list-7', 'list-8', 'list-9', 'list-10']">
  <h1>S{{semestre.numero}}</h1>
  <div cdkDrag [cdkDragData]="materia"  *ngFor="let materia of semestre.materias" class="card" >
    {{materia.nombre}}
  </div>
</div>
</div>

<app-administrador-drag [grupoMaterias]="info" (modal)="toggleModal($event)" (flechas)="cambiarInfo($event)"></app-administrador-drag>

<div class="modal form-modal" [style.display]="displayType('nuevaMateria')">
  <div class="card">
      <h2>Crear nueva materia</h2>
      <form [formGroup]="materiaForm">
          <label class="form-group">
            Nombre:
            <input type="text" class="input-text-form"formControlName="nombre" required>
          </label>
        <button type="button" class="accept-button-form" (click)="submitFormNewMatter()">Aceptar</button>
        <button class="gray-button-form" (click)="toggleModal('nuevaMateria')"><i class="fa fa-chevron-left"></i>Cerrar</button>
        </form>
  </div>
</div>
<div class="modal" [style.display]="displayType('importar')">
  <div class="card">
    <button class="gray-button-form" (click)="toggleModal('importar')"><i class="fa fa-chevron-left"></i>Cerrar</button>
  </div>
</div>
<div class="modal form-modal" [style.display]="displayType('modificar')">
  <div class="card">
      <h2>Actualizar materia</h2>
      <form [formGroup]="materiaForm">
          <label class="form-group">
            Nombre:
            <input type="text" class="input-text-form"formControlName="nombre" required>
          </label>
          <button type="button" class="accept-button-form" (click)="submitFormUpdateMatter()">Aceptar</button>
          <button type="button" class="delete-button-form" (click)="deleteMatter()">Borrar</button>
          <button class="gray-button-form" (click)="toggleModal('modificar')"> <i class="fa fa-chevron-left"></i>Cerrar</button>
        </form>
  </div>
</div>
