div.columnContainer {
    display: flex;
    justify-content: space-evenly;
    height: calc(100% - 200px);
    margin: 0% 10% 0% 10%;
}

div.columnContainer div.column {
    text-align: center;
    background-color: rgba(0,0,0,0.03);
    height: 100%;
    width: 8%;
    box-shadow: 0 3px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 3px -2px rgba(255, 255, 255, .3), 0 1px 8px 0 rgba(255, 255, 255, .19);
}

div.columnContainer div.column h1 {
    color: rgba(0,0,0,0.6);
    font-weight: 400;
    font-size: 21px;
    padding-top: 23px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

div.columnContainer div.column div.card {
    background-color: white;
    box-shadow: 0 3px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 3px -2px rgba(255, 255, 255, .3), 0 1px 8px 0 rgba(255, 255, 255, .19);
    font-size: 0.5em;
    padding: 20px 5px 20px 5px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    cursor: grab;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

div.modal{
    position: absolute;
    background-color: rgba(0,0,0,0.03);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;

}

div.modal div.card{
    transform: translate(-50%,-50%);
    margin-left: calc(50% - 40px);
    margin-right: 0%;
    margin-top: 25%;
    margin-bottom: 0%;
    background: white;
    padding: 40px;
    width: 50vw;
    height: 50vh;
    box-shadow: 0 3px 4px 0 rgba(255, 255, 255, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

div.modal h2 { text-align: center; color: rgba(0,0,0,0.6); }
div.modal label { margin: 10% 0%; }
div.modal input[type="text"] { width: 100%; padding-top: 5px; padding-bottom: 5px; margin: 10px 0px }
div.modal button { margin-left: 1px; }
div.modal i.fa.fa-times { 
    cursor: pointer; 
    color: #a6a6a6; 
    transition: all 0.3s ease-in-out; 
    font-size: 20px;
    display: block;
    float: right;
}
div.modal i.fa.fa-times:hover { color: rgba(0,0,0,0.6);}

.form-group{
    display:block;
    margin: 0 0 10px 0;
}
.form-group .input-text-form{
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

.accept-button-form{
    background: #83ccae;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
}

.accept-button-form:hover{
    background: #49a07d;
}

.delete-button-form{
    background: #e88e8e;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
}

.delete-button-form:hover{
    background: #e64242;
}

.gray-button-form{
    background: #989898;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
}

.gray-button-form:hover{
    background: #525252;
}

.gray-button-form i{
    color: #FFF;
    margin: 0 5px 0 0;
    font-size: 15px;

}


/* Opciones : teipe */
div.opciones {
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100vw;
    background-color: #f0f7f7;
    z-index: 9999999999999999999999999;
}

div.opciones div.grid-opciones {
    display: grid;
    margin: 5% 10%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
}

div.opciones div.grid-opciones div.opcion {
    cursor: pointer;
    background-color: #c6c6c6;
    height: 200px;
}

div.opciones div.grid-opciones div.opcion {
    
}