<div class="container">
    
    <div class="header">
        <h1>Paso 1</h1>
        <p>
            El sistema te permite crear horarios para pensums de determinados períodos. Selecciona uno de la
            lista
            para comenzar a trabajar con el.
            Puedes cargar un archivo de horario y posteriormente aparecerá en la lista para su gestión.
        </p>
        <p style="display: inline-block;">Selecciona un pensum: </p>
            <select name="" id=""  [formControl]="selectPensum" required>
                <option value="{{pensum.fecha | titlecase }}" *ngFor="let pensum of listaPensum">{{pensum.fecha | titlecase }}</option>
            </select>
        <br>
        <p style="display: inline-block;">Cargar pensum de archivo: </p> <button (click)="loadFile()">CARGAR</button>
    </div>

    <div class="content">
        <div class="card" *ngFor="let materia of listaMateria">
            <p>{{materia.nombre | titlecase }}</p>
            <div class="input-group">
                <p>N° secciones:</p>
                <input type="number" value="0">
            </div>
        </div>
    </div>
</div>    


<a class="float-right" routerLink="/horarios/paso2"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>