<div class="content">

  <div class="top-menu">
    <form [formGroup]="buscador">
      <input type="text" class="finder" formControlName="texto" placeholder="Buscar...">
    </form>
    <button class="button new" (click)="showNewModal()">Nuevo</button>
    <button class="button" (click)="guardarHorario()">Guardar</button>
    <button *ngIf="profesorSeleccionado.nombre != ''" class="button" (click)="eliminarProfesor()">Eliminar</button>
  </div>
  <!--
  Modal para crear nueva materia
 -->
  <div *ngIf="newProfesor" class="contenedor-modal">
    <div class="form-modal">
      <i class="fa fa-times" (click)="this.newProfesor = false;"></i>
      <h2>Crear nuevo profesor</h2>
      <form [formGroup]="profesorForm">
        <label class="form-group">
          Nombre <br>
          <input type="text" class="input-text-form" formControlName="nombre" required>
        </label>
        <label class="form-group">
          Correo Electronico <br>
          <input type="text" class="input-text-form" formControlName="correo" required>
        </label>
        <p style="text-align: center;">
          <button type="button" class="accept-button-form" (click)="guardarProfesor()">Guardar</button>
        </p>
      </form>
    </div>
  </div>


  <div class="content-info">
    <h2 class="title">nombre del profesor</h2>
    <h4 class="sub-title">{{profesorSeleccionado.nombre | titlecase}}</h4>
    <h2 class="title">correo electronico</h2>
    <h4 class="sub-title"> {{profesorSeleccionado.correo}}</h4>
    <h2 class="title">disponibilidad </h2>

    <table class="disp-table noselect">
      <tr>
        <th style="border: none;"></th>
        <th class="first-table">Lunes</th>
        <th class="first-table">Martes</th>
        <th class="first-table">Miercoles</th>
        <th class="first-table">Jueves</th>
        <th class="first-table">Viernes</th>

      </tr>
      <tr *ngFor="let bloque of horario[0]; let i = index">
        <th class="first-table">{{hora[i]}} - {{hora[i].split(':')[0]}}:50{{hora[i][hora[i].length-2] +
          hora[i][hora[i].length-1]}}</th>
        <ng-container *ngFor="let dia of [0,1,2,3,4]; let j = index">

          <th (click)="cambiarPrioridad(1,j,i)" (auxclick)="cambiarPrioridad(-1, j, i)" *ngIf="horario[j][i] != 0"
            [ngClass]="{'class': horario[j][i] == 1, 'class2': horario[j][i] == 2}">{{horario[j][i]}}</th>
          <th (click)="cambiarPrioridad(1,j, i)" (auxclick)="cambiarPrioridad(-1, j ,i)" *ngIf="horario[j][i] == 0"></th>
        </ng-container>
      </tr>

    </table>

    <div class="old-reference">
      <div *ngFor="let horarioPasado of horariosPasados; let i = index">

        <p (click)="mostrarTabla(i)">Periodo {{horarioPasado.periodo}}
          <i *ngIf="mostrarHorarioPasado[i] == false" class="fa fa-angle-down"></i>
          <i *ngIf="mostrarHorarioPasado[i] == true" class="fa fa-angle-right"></i>
        </p>

        <table *ngIf="mostrarHorarioPasado[i] == true" class="disp-table">
          <tr>
            <th>Dia</th>
            <th>Hora</th>
          </tr>
          <tr *ngFor="let horario of horarioPasado.horario">
            <th>{{dias[horario.dia] | titlecase}}</th>
            <th>{{hora[horario.inicio]}} - {{hora[horario.fin].split(':')[0]}}:50{{hora[i][hora[i].length-2] +
              hora[i][hora[i].length-1]}}</th>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>


<div class="rightColumn">
  <ul>
    <li *ngFor="let profesor of profesores; index as i" [ngClass]="
      {
      'active': profesorActive == i
      }"
      (click)="selectProfesor(profesor, i)">
      <div class="circularName">{{profesor.nombre[0]}}</div>
      <p class="right-name">{{profesor.nombre}}</p>
    </li>
  </ul>
</div>
