*{
    margin: 0;
    padding: 0;
}
header{
   width: 100%;
   height: 80px;
   background: #83CCAE;
   border-bottom: 40px solid #93CECC; 
}
body{
   background: #d3d1d1;
   margin: 0;
}

.contenedor-modal {
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.03);
   z-index: 9999999;
   position: absolute;
   top: 0;
   left: 0;
}
.contenedor-modal .form-modal{
   transform: translate(-50%,-50%);
   margin-left: calc(50% - 40px);
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin-right: 0%;
   margin-top: 25%;
   margin-bottom: 0%;
   background: white;
   padding: 40px;
   width: 50vw;
   height: 50vh;
   box-shadow: 0 3px 4px 0 rgba(255, 255, 255, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.contenedor-modal .form-modal h2 { text-align: center; color: rgba(0,0,0,0.6);}
.contenedor-modal .form-modal label { margin: 5% 0%; }
.contenedor-modal .form-modal input[type="text"] { 
   width: 100%; 
   padding-top: 5px; 
   padding-bottom: 5px; 
   margin: 10px 0px;
}
.contenedor-modal .form-modal input[type="text"]:focus{
   border: 2px solid #93cecc;
   outline: none;
}

.contenedor-modal .form-modal button { 
    margin-left: 1px; 
}


.contenedor-modal .form-modal i.fa.fa-times { 
    cursor: pointer; 
    color: #a6a6a6; 
    transition: all 0.3s ease-in-out; 
    font-size: 20px;
   align-self: flex-end;
   margin-top: 5px;
}
.contenedor-modal .form-modal i.fa.fa-times:hover { color: rgba(0,0,0,0.6);}

.form-group{
    display:block;
    margin: 0 0 10px 0;
}

.form-group .input-text-form{
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

.form-group .input-number-form{
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    width: 45px;
}

.accept-button-form{
    background: #93cecc;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
    margin-bottom: 15px;
}

.accept-button-form:hover{
    background: #49a07d;
}

.content{
   width: calc(80% - 30px);
   background: #F0F7F7;
   height: calc(100vh - 120px);
   display: inline-block;
   float: left;
   padding: 10px 15px;
   overflow-y: scroll;

}

.content .top-menu{
   display: flex;
   width: 17px;
   background: inherit;
   height: 230px;
   left: 1%;
   top: 45%;
   justify-content:center;
   align-items: flex-start;
   position: absolute;
   flex-direction: column;
}



.content .top-menu .finder:focus{

   border: 2px solid #93cecc;
   outline: none;

}


.content .top-menu .button{
   border: none;
   font-size: 20px;
   background: white;
   cursor: pointer;
   color: #908e8e;
   height: 70px;
   width: 70px;
   border-radius: 50%;
   margin: 0 0 10px 0;
}

.content .top-menu .button.delete:hover{
    color: #e88e8e;

}

.content .top-menu .button.new:hover{
    color: #83ccae;
}

.content .top-menu .button.save:hover{
   color: #89b2e6;
}



.content .top-menu .button:focus{
   border: 2px solid #93cecc;
   outline: none;

}

.content .content-info{
   width: calc(100% - 20%);
   background: white;
   height: auto;
   padding: 20px 30px;
   border-radius: 3px;
   margin: 0 10%;
}

.content .content-info #input-file{
   display: none;
   position: absolute;
   z-index: -1;
}

.content .content-info .box-inputFile{
   align-self: center;
   margin:  0 4.5% 0 0;
   cursor: pointer;
   color: #919191;

   i{
      margin: 0 5px 0 0;
   }
}
.content .content-info .box-inputFile:hover{
   color: #89b2e6;
}


.content .content-info .disponibilidad-row{
   display: flex;
   justify-content: space-between;
}

.content .content-info .title{

   text-transform: capitalize;
   color: #777676;
   margin: 18px 0;
   font-size: 16px;

}

.content .content-info .sub-title{
    color: #908e8e;
    font-size: 14px;
    margin: 0 0 25px 0;

    i{
        display: none;
    }
}

.content .content-info input{
    padding: 8px;
    border-radius: 10px;
    color: #777676;
    border: 1px solid #908e8e;
}

.content .content-info .sub-title:hover{
    color: #89b2e6;
    margin: 0 0 25px 0;
    cursor: pointer;

    i{
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
    }
}


.content .content-info .content-top{
   display: flex;
   justify-content: space-between;

}
.content .content-info .disp-table{
   width: 100%;
   background: #E3E7E7;
   color: #797575;
    margin: 15px 0;
    border: 3px solid #AFDBD9;
    border-radius: 3px;
   font-size: 13px;
}
.content .content-info .disp-table tr{
   height: 25px;
}


.content .content-info .disp-table th{

   border-right: 1px solid #FFF;
   border-bottom: 1px solid #FFF;
   width: 16.6%;
}

.content .content-info .disp-table th.class{
    background: #AFDBD9;
}

.content .content-info .disp-table th.class2{
    background: #ffff9e;
}


.content .content-info .disp-table th.first-table{
   background: #FFF;
   border-radius: 10px;
   border: none;
   color: #B5B5B5;
}



.content .content-info .table th.limit{
   background: #FFF;
   border-radius: 10px;
}


.content .content-info .old-reference p{
   cursor: pointer;
   display: inline-block;
    color: #777676;

   i{
       font-size: 25px;
   }
}




.rightColumn{
   width: 20%;
   background: #d0dada;
   height: calc(100vh - 104px);
   display: inline-block;
   overflow-y: auto;
}

.rightColumn .finder{
   width: 80%;
   height: 25px;
   margin: 15px 5%;
   border-radius: 20px;
   border: none;
   color: #919191;
   padding-left: 15px;

}

.rightColumn .circularName{
   background: white;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 25px;
   color: #908e8e;
   font-weight: bold;
   margin: 15px 5px;
   flex-shrink: 0;
}

.rightColumn ul{
   padding: 3px;
}



.rightColumn li{
   display: flex;
   justify-content: flex-start;
   text-transform: capitalize;
   align-items: center;
   cursor: pointer;
}
.rightColumn li:hover{
    background: inherit;
    .circularName{
        background: #60b1ae;
        color: #FFF;
    }
}

.rightColumn li.active{
    background: #83ccae;
    border-radius: 10px;
    .circularName{
        background: #60b1ae;
        color: #FFF;
    }
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}





