<div class="view" style="margin: 15px 10% 10% 10%">
  <h1>Paso 2</h1>
  <p>A continuación podrá seleccionar los profesores responsables de dictar de una determinada materia. No
      olvide asignar docente a todas las secciones presentadas para cada materia.</p>
<div class="container">

  <div class="column">

      <div class="selectorSemestre" >
          <a href=""><i class="fa fa-caret-left" aria-hidden="true"></i></a>
          <span class="semestre-activo">2</span>   
          <a href=""><i class="fa fa-caret-right" aria-hidden="true"></i></a>   
      </div>
      <p style="text-align: center; font-size: 12px; margin-top: -12px">Semestre</p>
      <div class="contenedor-materias">

          <div class="materia" *ngFor="let materia of listaMateria">
              <p>{{materia.nombre | titlecase }}</p>
              <p>Cantidad de secciones: 2</p>
              <p>Cantidad de secciones: 1</p>
          </div>
         
      </div>

  </div>
  <div class="info">
      <div class="info-container">
          <h1 class="titulo-materia">Matemática Básica</h1>
          <p class="titulo-seccion">Sección 401</p>
          <select name="" id="">
              <option value="">Clarysse Quijada</option>
              <option value="">Maxwell Martinez</option>
          </select>
          <p class="titulo-seccion">Sección 402</p>
          <select name="" id="">
              <option value="">Clarysse Quijada</option>
              <option value="">Maxwell Martinez</option>
          </select>
      </div>
  </div>
</div>

</div>

<!-- Dejar esto al final -->

<a class="float-right" routerLink="/horarios/paso3"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
<a class="float-left" routerLink="/horarios/paso1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>


