<div class="home-component">
  <div class="menu">
    <div class="option" [routerLink]="'/pensum'">
      <span>
        Gestionar pensum
      </span>
    </div>
    <div class="option" [routerLink]="'/horarios/paso1'">
      <span>
        Gestionar horarios
      </span>
    </div>
    <div class="option" [routerLink]="'/materias'">
      <span>
        Gestionar materias
      </span>
    </div>
    <div class="option" [routerLink]="'/profesores'">
      <span>
        Gestionar profesores
      </span>
    </div>
  </div>
</div>
