<div class="content-center">
  <h1 style="font-size: 30px; margin: 15px 0 0 10%; align-self: flex-start;">Paso 3</h1>
  <p style="font-size: 15px; text-align: justify; align-self: flex-start; margin: 5px 0 0 10%">A continuación podrá asignar las materias a sus respectivos semestres y horas de clase.</p>
  <div class="selectorSemestre">
    <a><i (click)="changeSemestre(-1)" class="fa fa-caret-left" aria-hidden="true"></i></a>
    <span class="semestre-activo">{{ (semestreActivo+1) }}</span>
    <a><i (click)="changeSemestre(1)" class="fa fa-caret-right" aria-hidden="true"></i></a>
  </div>
  <p style="text-align: center; font-size: 12px; margin-top: -12px">Semestre</p>

  <app-tabla-horario></app-tabla-horario>


</div>

<div class="content-bottom">
  <div class="blue"></div>
  <div class="green">
    <div class="upload">
      <i (click)="togleMinimenu();" class="fa fa-ellipsis-v" aria-hidden="true"></i>
      <div *ngIf="minimenu == true">
        <i class="fa fa-save" aria-hidden="true"></i>
        <i class="fa fa-print" aria-hidden="true"></i>
        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="card-container" id="list-two">
      <div class="newCard" (click)="abrirModal('nuevaMateria');">
        <div class="icono">+</div>
      </div>
      <div class="card">
        <div class="infoMateria">
        </div>
      </div>
    </div>
    <div class="arrows">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>

</div>

<a class="float-left" routerLink="/horarios/paso2"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
