/* You can add global styles to this file, and also import other style files */

*{
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Montserrat';
  background-color: #f0f7f7;
}


@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
       url('./assets/fonts/montserrat-v12-latin-regular.woff') format('woff'),
       url('./assets//fonts/montserrat-v12-latin-regular.ttf') format('truetype'),
       url('./assets/fonts/montserrat-v12-latin-regular.eot') format('eot');
}